// Functions
//
// Weight: 1
//
// Styleguide core.functions

// map-deep-get($map, $keys)
//
// Fetch nested maps.
//
// $map - Map
// $keys - Keys to fetch
//
// Styleguide core.functions.map-deep-get
//
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}

// spacing($size)
//
// Get spacing size.
//
// $size - Spacing size, e.g., base, sm, md, lg, etc. See $spacing in `core/_variables.scss`.
//
// Styleguide core.functions.spacing
//
@function spacing($size) {
  @return map-get($spacing, $size);
}

// get-line-height($font-size, $line-height)
//
// Get a unitless line-height value from the px value of line-height and font-size.
//
// $font-size - The font size in px value.
// $line-height - The line height in px value.
//
// Styleguide core.functions.get-line-height
//
@function get-line-height($font-size, $line-height) {
  @return $line-height / $font-size;
}
