// Core
//
// Weight: 1
//
// Defines core elements that defines the branding of the site.
//
// Styleguide core

// Colors
//
// Replace example color variables with the site's branding colors.
//
// $pink - #F8B1AA; Primary branding color
// $brown - #A69B95; Secondary branding color
// $blue - #7B98AB; Primary accent color
// $off-white - #F1E8E3; Secondary accent color
//
// Styleguide core.colors

// ---------------------------------------------------
// Theme Settings
//
// DO NOT REMOVE THE VARIABLES BELOW.
// ONLY OVERRIDE IF NECESSARY.
// ---------------------------------------------------
$base-sans: sans-serif;
$base-serif: serif;
$base-mono: monospace;

$fonts: (
  'sans': (
    'Replace font name here',
    #{$base-sans},
  ),
  'serif': (
    'Replace font name here',
    #{$base-serif},
  ),
  'mono': (
    'Replace font name here',
    #{$base-mono},
  ),
);

$font-weights: (
  'thin': 100,
  'light': 300,
  'normal': normal,
  'medium': 500,
  'bold': 700,
);

$spacing-base: 1rem;
$spacing: (
  'base': $spacing-base,
  'xs': $spacing-base * 0.25,
  'sm': $spacing-base * 0.5,
  'md': $spacing-base * 2,
  'lg': $spacing-base * 3,
  'xl': $spacing-base * 4,
);

$max-container-size: 1440px;
$breakpoints: (
  // Mobile
  sm: 480px,
  // Large Mobile
  md: 640px,
  // Tablet
  lg: 1024px,
  // Desktop
  xlg: 1280px,
  // Large Desktops
  max: 1440px
);
