// Mixins
//
// Useful mixins available.
//
// Weight: 2
//
// Styleguide core.mixins

// sr-only()
//
// Hides element on all devices except screen readers. `.sr-only` class is available for use.
//
// Styleguide core.mixins.accessibility
//
@mixin sr-only {
  position: absolute;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}
