// at-media($breakpoint)
//
// Returns a media query to wrap the content added.
//
// $breakpoint - Set the breakpoint values in `01-core/_variables.scss`.
//
// Styleguide core.mixins.at-media
//
@mixin at-media($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media screen and (min-width: map-get($breakpoints, $name)) {
      @content;
    }
  } @else {
    // If the key doesn't exist in the map
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoints}`. ' + 'Please make sure it is defined in `$breakpoints` map.';
  }
}
