// font($group, $weight-variant, $style-variant)
//
// Sets the font family, weight, and style.
//
// $group -  Set the font family in `01-core/_variables.scss`.
// $weight-variant - Set the font weight in `01-core/_variables.scss`. By default, the font weight will be set to normal.
// $style-variant - Set style variant. By default, the style variant will be set to normal.
//
// Styleguide core.mixins.font
//
@mixin font($group, $weight-variant: normal, $style-variant: normal) {
  font-family: map-get($fonts, $group);
  font-weight: map-get($font-weights, $weight-variant);
  font-style: $style-variant;
}

// font-family($group)
//
// Sets the font family.
//
// $group -  Set the font family in `01-core/_variables.scss`.
//
// Styleguide core.mixins.font-family
//
@mixin font-family($group) {
  font-family: map-get($fonts, $group);
}
