// grid-container($container-size)
//
// Creates a wrapper for a series of rows. `.grid-container` class is available for use.
//
// $container-size - The max container size in em, px, rem, and percentage. By default, `$max-container-size` value will be used.
//
// Styleguide core.mixins.grid-container
//
@mixin grid-container($container-size: $max-container-size) {
  margin-right: auto;
  margin-left: auto;
  padding-right: spacing(base);
  padding-left: spacing(base);
  max-width: $container-size;
}

// grid()
//
// Creates a wrapper for a series of columns. `.grid` class is available for use.
//
// Styleguide core.mixins.grid
//
@mixin grid() {
  display: flex;
  flex-wrap: wrap;
}
